<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="index,follow" />
		<meta name="description" content="{% block metadescription %}{% endblock %}" />
		<meta name="keywords" content="{% block metakeywords %}{% endblock %}" />
		{# <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.ico') }}" /> #}
		<link rel="icon" type="image/png" href="{{ asset('assets/images/lcz.png') }}" />
		<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" /><![endif]-->

		<title>{% block title %}{% endblock %}</title>

			<link rel="stylesheet" href="{{ asset('assets/css/css.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('assets/web-fonts-with-css/css/fontawesome.css') }}" />
		{% block stylesheets %}
		{% endblock %}
	</head>

	<body>
					{% include "ProAddressAppBundle::header.html.twig" %}
					{% block bord %}{% endblock %}
					{% block nompage %}{% endblock %}
					{% block structurepage %}{% endblock %}
					{% block content %}{% endblock %}	
					{% include "ProAddressAppBundle::footer.html.twig" %}

			<script src="{{ asset('assets/js/jquery-unc-3.2.1.js') }}"></script>
			<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('assets/js/modal.js') }}"></script>
			<script src="{{ asset('assets/js/js.js') }}"></script>
		{% block script %}
			{# Fonctionnalités du bootstrap Twitter #}
		
		{% endblock %}

	</body>
</html>
