    <div class="col-sm-5">
        <ul class="navbar navbar-nav btn-group list-inline list-unstyled fa-xs" id="navbar-list">
            <li><a class="" href="{{ path('pa_app_accueil') }}">ACCUEIL</a></li>            
            <li><a href="{{ path('pa_service') }}" class="" id="accueil">SERVICES</a></li>
            <li><a href="{{ path('pa_annonce') }}" class="" id="accueil">ANNONCES</a></li>
            <li><a href="{{ path('pa_annonce', {'cat': 'recrutement'}) }}" class="">RECRUTEMENTS</a></li>
			<li><a href="{{ path('pa_app_message') }}" class="">CONTACT</a></li>
        </ul>
    </div>
    <div style="" class="col-sm-3">
        <form class="fa-sm" method="post" action="{{ path('pa_app_search', {'page': 'search'}) }}">
            <div class="form-group has-feedback">
                <label class="sr-only col-sm-4 control-label" for="recherche">Recherche</label>
                <span class="glyphicon glyphicon-search form-control-feedback fa-sm"></span>
                <input class="input-sm form-control fa-md" type="text" placeholder="Rechercher une structure, une ville" name="recherche" id="recherche" >
            </div>
        </form>
    </div>
	<div class="col-sm-2 pull-right" id="button-nav">	
	{% include "ProAddressAppBundle::userbar.html.twig" %}
	</div>
