    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<span class="pull-right" id="user-container">
			<li class="dropdown">
				<a rel="nofollow" href="#" class="small" data-toggle="dropdown"><span class="glyphicon glyphicon-user text-warning"></span> {{ app.user.username }}
				    {% if is_granted("ROLE_ADMIN") %}<span class="glyphicon glyphicon-star text-warning"></span>{% endif %}
				</a>
				<ul class="pull-left dropdown-menu">
					{#<li><a rel="nofollow" href="{{ path('fos_user_profile_show') }}">Profile</a></li>
					<li><a rel="nofollow" href="{{ path('fos_user_profile_edit') }}">Éditer Profile</a></li>#}
					{% if is_granted("ROLE_ADMIN") %}
						<li><a rel="nofollow" href="{{ path('admin_stat') }}">Stats</a></li>
						<li><a rel="nofollow" href="{{ path('admin_message_index') }}">Messages</a></li>
					    <li><a rel="nofollow" href="{{ path('admin_structure_index') }}">Structures</a></li>
					    <li><a rel="nofollow" href="{{ path('admin_categorie_index') }}">Categorie</a></li>
					    <li><a rel="nofollow" href="{{ path('admin_pays_index') }}">Pays</a></li>
					    <li><a rel="nofollow" href="{{ path('admin_image_index') }}">Images</a></li>
						<li><a rel="nofollow" href="{{ path('admin_annonce_index') }}">Annonces</a></li>
						<li><a rel="nofollow" href="{{ path('admin_acategorie_index') }}">ACategorie</a></li>
						<li><a rel="nofollow" href="{{ path('admin_service_index') }}">Services</a></li>
						<li><a rel="nofollow" href="{{ path('admin_scategorie_index') }}">SCategorie</a></li>
						<li><a rel="nofollow" href="{{ path('admin_utilisateur_index') }}">Users</a></li>
					    {#<li><a rel="nofollow" href="{{ path('admin_image') }}">Images</a></li>
					    <li><a rel="nofollow" href="{{ path('admin_abonnee') }}">Abonnés</a></li>#}
					{% endif %}
					<li><a rel="nofollow" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
				</ul>
			</li>
			{#<span class="" data-toggle="tooltip" title="Se déconnecter"><a rel="nofollow" href="{{ path('fos_user_security_logout') }}" title="déconneter" to><span class="glyphicon glyphicon-log-out"></span></a></span>#}
		</span>
    {% else %}
		<a rel="nofollow" href="{{ path('fos_user_security_login') }}" class="pull-right">Se connecter</a>
    <a rel="nofollow" href="{{ path('fos_user_registration_register') }}" class="pull-right">S'inscrire</a>
    {% endif %}
