{% extends "ProAddressServiceBundle::layout.html.twig" %}

{% block title %}
Service | {{ parent() }}
{% endblock %}

{% block metadescription %}{% endblock %}

{% block after_header %}
	<div class="jumbotron navbar-inverse">
		<div class="container">
            {#<div id="navbord" iid="nav-str" class="col-lg-12 text-center">
                {{ render(controller('ProAddressAppBundle:App:getCategorie')) }}
            </div>#}
            {{ render(controller('ProAddressServiceBundle:Index:getSCategorie')) }}
		</div>
	</div>
{% endblock %}

{% block data %}
    {% for line in services %}
        <div class="tb-info bg-dfault-hover bg-success col-md-12 text-left">
            <h6 class="pull-right bg-primary">Service</h6>
            <h3 class="h-band bg-primary title-txt">{{ line.entreprise }} ({#{ pays }#}) - {{ line.specialite }}</h3>
            {#<h5 class="text-info title-txt-hover">Ville: {{ line.ville }}</h5>#}
            <h6 class="text-info title-txt-hover"> {{ line.detail}}</h6>
            <h5 class="title-txt-hover text-primary">Contacts : {{ line.contact }}</h5>
            <h6 class="text-info title-txt-hover relief">Catégories:
                {% for c in line.scategories %}
                    {{ c.nom }}
                {% endfor %}
            </h6>
            <br>
        </div>{% if not loop.last %}<div class=""><span class="glyphicon glyphicon-link"></span> </div>{% endif %}
    {% endfor %}
    <div class="pagination">
        <ul class="list-inline">
            {# On utilise la fonction range(a, b) qui crée un tableau de
            valeurs entre a et b #}
            {% for p in range(1, nbrPage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path(app.request.attributes.get('_route'), {'cat':cat, 'page': p }) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block right %}{% include "ProAddressServiceBundle:Content:register.html.twig" %}{% endblock %}