{% extends "ProAddressAppBundle::layout.html.twig" %}

{% block title %}
Accueil | {{ parent() }} découvrez en ligne, des services et contacts, des structures et addresses, des avis de recrutement...
{% endblock %}

{% block metadescription %}
Services et contacts, annonces recrutements, structures et addresses en ligne : Hôtels, Supermarchés, Restaurants, Patisserie, Pharmacies... 
{% endblock %}

{% block after_header %}
	<div class="jumbotron navbar-inverse">
		<div class="container">
			<div id="navbord" class="col-lg-12 text-center">
				{{ render(controller('ProAddressAppBundle:App:getCategorie')) }}
			</div>
			{{ render(controller('ProAddressServiceBundle:Index:getSCategorie')) }}
		</div>
	</div>
{% endblock %}

{% block content %}
		<div class="col-md-7">
			<div class="carousel slide thumbnail">
				<nav class="" id="carousel-bar">
					<h3 class="text-center">
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
                            {% filter upper %}Exclusivity{% endfilter %}
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
					</h3>
				</nav>
				{% if imgslide is defined and imgslide is not empty %}
					{% for line in imgslide %}
						<ol class="carousel-indicators">
							<li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" {% endif %}></li>
						</ol>
					{% endfor %}

					<div class="carousel-inner">
					{% for line in imgslide %}
						<div {{ loop.first? 'class="item active"': 'class="item"' }}>
							<div class="slide-fg">
								<h1>{{ line.legendetitre }}</h1>
								<h4>{{ line.legendeslogan }}</h4>
								<h5 class="col-xs-12">{{ line.legendedescription }}</h5>
								<address class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ line.legendeadresse }}</address>
							</div>
							<img alt="img{{ loop.index0 }}" src="{{ asset('assets/images/') }}{{ line.url }}"  width="100%" height="100%">
							<h1 class="carousel-caption">{{ line.legende }}</h1>
						</div>
					{% endfor %}
					</div>

					{% else %}
						<ol class="carousel-indicators">
							<li data-target="#carousel" data-slide-to="0" class="active"></li>
							<li data-target="#carousel" data-slide-to="1"></li>
							<li data-target="#carousel" data-slide-to="2"></li>
							<li data-target="#carousel" data-slide-to="3"></li>
							<li data-target="#carousel" data-slide-to="4"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="slide-fg">
									<h1>Tout Service </h1>
									<h4>Bésoins d'un service ? Ou êtes-vous Entrepreneur ? <a href="{#{ path('oservice') }#}" class="title-txt">Rejoyez vite notre espace Tout Service<span class="glyphicon glyphicon-chevron-right"></span></a></h4>
									<h5 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Découvrez tous les services & contacts publiés par les entreprises</h5>
									<address class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></address>
								</div>
								<img alt="img1" src="{{ asset('assets/images/defaultslide1') }}"  width="100%" height="100%">
								<h1 class="carousel-caption"><a href="{{ path('pa_service') }}" class="btn btn-danger">Page Services<span class="glyphicon glyphicon-chevron-right"></span></a></h1>
							</div>

							<div class="item">
								<div class="slide-fg">
									<h1>Espace Recrutement </h1>
									<h4>Vous êtes employeur ou candidat, <a href="{#{ path('recru_recrutement') }#}" class="title-txt">rejoyez vite notre espace recrutement<span class="glyphicon glyphicon-chevron-right"></span></a></h4>
									<h5 class="col-xs-12"></h5>
									<address class="col-xs-12"></address>
								</div>
								<img alt="img1" src="{{ asset('assets/images/defaultslide2') }}"  width="100%" height="100%">
								<h1 class="carousel-caption"><a href="{{ path('pa_annonce', {'cat': 'recrutement'}) }}" class="btn btn-primary">Page recrutements<span class="glyphicon glyphicon-chevron-right"></span></a></h1>
							</div>

							<div class="item">
								<div class="slide-fg">
									<h1>Les Structures </h1>
									<h4>Slogan</h4>
									<h5 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Informations</h5>
									<address class="col-xs-12 col-sm-12 col-md-12 col-lg-12">addresses & contacts </address>
								</div>
								<img alt="img3" src="{{ asset('assets/images/defaultslide3') }}" width="100%" height="100%">
								<h1 class="carousel-caption">Hôtel</h1>
							</div>

							<div class="item">
								<div class="slide-fg">
									<h1>Les Structures </h1>
									<h4>Slogan</h4>
									<h5 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Informations</h5>
									<address class="col-xs-12 col-sm-12 col-md-12 col-lg-12">addresses & contacts </address>
								</div>
								<img alt="img1" src="{{ asset('assets/images/defaultslide4') }}"  width="100%" height="100%">
								<h1 class="carousel-caption">Supermarché</h1>
							</div>

							<div class="item">
								<div class="slide-fg">
									<h1>Les Structures </h1>
									<h4>Slogan</h4>
									<h5 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Informations</h5>
									<address class="col-xs-12 col-sm-12 col-md-12 col-lg-12">addresses & contacts </address>
								</div>
								<img alt="img2" src="{{ asset('assets/images/defaultslide5') }}" width="100%" height="100%">
								<h1 class="carousel-caption">Pharmacie</h1>
							</div>
                        </div>

				{% endif %}

				<a class="left carousel-control" href="#carousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#carousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>
		</div>
        <div class="col-md-5" id="enregistrement">
            <h3 class="three-title text-center">Publier une structure</h3>
        </div>
		<div class="well col-md-5 form">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">					
						<h4 class="text-center" data-toggle="tooltip" title="Enrégistrement">Formulaire d'enrégistement</h4>
                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <p class="text-center"><a class="text-warning" href="{{ path('fos_user_security_login') }}">Se connecter  <span class="glyphicon glyphicon-chevron-right"></span> </a></p>
                        {% endif %}
					</div>
				</div>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="panel-body" id="form">
					{% include "ProAddressAppBundle:App:structure.form.html.twig" %}
				</div>
				{% endif %}
			</div>
		</div>
{% endblock %}