{% extends 'base.html.twig' %}

{% block body %}
    <h1>Service</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ service.entreprise }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ service.specialite }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ service.contact }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ service.detail }}</td>
            </tr>
            <tr>
                <th>Nomrespo</th>
                <td>{{ service.nomrespo }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if service.date %}{{ service.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Online</th>
                <td>{% if service.online %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_service_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_service_edit', { 'id': service.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
